.editor-button{
    outline: none;
    color: white;
    background-color: #303424; ;
    border-top: 2px solid #3d74cc;
    min-width: 100px;
    height: 30px;
    font-size: 14px;
    padding: 3px 7px 3px 7px;
}