.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background-color: black;
    width: 100%;
}

.content h1 {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    width: 60%;
    text-align: center;
    background: linear-gradient(45deg, #FF8C00, #FF4500);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.content p {
    font-size: 1.25rem;
    line-height: 1.7;
    color: #ccc;
    text-align: center;
    margin-bottom: 2rem;
    width: 70%;
}