#nav {
    padding-left: 2rem;
    padding-right: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
}
.navbar-items {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navbar-items a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: opacity 0.2s ease;
}

.navbar-items a:hover {
    opacity: 0.8;
}

.navbar-items img {
    height: 50px;
    width: auto;
}