.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card p {
    margin: 10px 0;
    font-size: 1rem;
}